{% extends 'base.html.twig' %}

{% block title %}Cliniques{% endblock %}

{% block body %}
    <h1>Cliniques</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clinique.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ clinique.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ clinique.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ clinique.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cliniques_index') }}">back to list</a>

    <a href="{{ path('app_cliniques_edit', {'id': clinique.id}) }}">edit</a>

    {{ include('cliniques/_delete_form.html.twig') }}
{% endblock %}
